asgiref==3.8.1
certifi==2024.8.30
cloudinary==1.41.0
dj-database-url==2.2.0
Django==5.1.1
django-cors-headers==4.4.0
django-environ==0.11.2
django-filter==24.3
djangorestframework==3.15.2
Markdown==3.7
pillow==11.0.0
psycopg2-binary==2.9.9
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
whitenoise==6.7.0
